<!DOCTYPE HTML>
<html>

<head>
  <title> Registrazione su TickeTouch</title>
</head>

<body>
    <p><%= @user.name %></p>

    <p>Benvenuto su TickeTouch</p>

    <%= image_tag "TickeTouch1.png" %>

    <p>Modifica il tuo profilo <%= link_to "Edit Profile", edit_user_url(@user) %></p>
</body>

</html>