<% content_for :stylesheets do %>
    #home_button {display: none}
<% end %>


<% content_for :header do %>
    <h1> Home </h1>
<%end%>

<div data-role="content">
  <div class="ui-grid-b" style >
    <!--TODO Insert pictures here -->
  </div><!-- /grid-c -->
</div>