<%= content_for :header do %>
  <h1>Nuovo Evento</h1>
  <%= link_to "Eventi", events_path, "data-icon" => "home", "class" => "ui-btn-right" %>
<% end %>

<div data-role = "content">
  <%= render 'form' %>
</div>
